<li class="padding">
  <div class="message">
    <h5><%= message.name %></h5>
    <%= message.body %>
    <%= button_to "Delete Message", message_path(message), data: {confirm: "Delete this message?"}, method: :delete, class: "submit-button" %>
  </div>
</li>
