<div class="row">
  <div class="text-justify" style="height:30em;">
    <div class="small-offset-1 small-10 columns">
      <br/><br/>
      <div class="row">
        <div class="small-12 columns">
          <p class="googlefont2" style="font-size: 130%; text-indent: 40px">
            Patrice and Leslie met at a Tile Design Showroom where they both worked closely with local  builders, architects,  and contractors to design beautiful kitchens and bathrooms for their customers.  In 2014, Leslie and Patrice saw a need and created Miller Stearns Design to fill a void in the design process for new construction, renovation, and remodeling projects.  Patrice and Leslie not only understand the principles of good design but also understand the process of a successful construction project.  Miller Stearns bridges the gap between the buyers' dreams and the builders' requirements.  We help to facilitate an easy and enjoyable experience during a typically stressful process of trying to build a house, also creating a home.
          </p>
        </div>
      </div>
      <br/><br/>
      <hr>
      <br/>
      <div class="row show-for-small-only">
        <div class="small-6 columns">
          <img style="width: 100%;" src="/ryanPic.png">
        </div>
        <div class="small-6 columns">
          <img style="width: 100%;" src="/ryanPic.png">
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="small-12 medium-8 columns">
          <p class="googlefont2" style="font-size: 130%; text-indent: 40px">
            Patrice Miller's career in design began 22 years ago, as a design consultant for Newbridge Homes, Inc, an award winning single-family home builder operating in Massachusetts, Rhode Island and Connecticutt.   While working with Newbridge, Patrice helped many families create the home of their dreams while also honing her skills in project management. These projects helped define Patrice’s passion for design and shaped her exceptional skill of executing a cohesive design throughout an entire home.
          </p>
        </div>
        <div class="hide-for-small-only medium-4 columns">
          <img style="max-height: 14em; float: right;" src="/ryanPic.png">
        </div>
      </div>
      <div class="row hide-for-small-only">
        <br/><br/>
        <hr>
        <br/><br/>
      </div>
      <div class="row">
        <div class="hide-for-small-only medium-4 columns">
          <img style="max-height: 14em;" src="/ryanPic.png">
        </div>
        <div class="small-12 medium-8 columns">
          <p class="googlefont2" style="font-size: 130%; text-indent: 40px">
            Leslie has been in the design industry for over 30 years and holds a degree in graphic design from Skidmore College in Saratoga Springs, NY.  Upon graduation, Leslie worked as a graphic designer, however, after many years she decided she wanted to redirect her focus to interior design.  She prides herself on her versatility and keen eye for design and was easily able to transfer the two-dimensional aspect of design to the three dimension.  After working for several years gaining experience in interior design, Leslie teamed up with Patty Miller to create Miller Stearns Designs.
          </p>
        </div>
      </div>
      <br/>
    </div>
  </div>
</div>
