<div class="row">
<div class="text-center gallery-container small-12 columns">

  <% if @books.length > 0 %>

    <% @books.each do |book| %>

      <div class="row">

      <h1 class="text-center book-title googlefont1"><%= book.name %></h1>

      <div class="small-offset-1 small-10">

      <% book.pages.each do |page| %>

        <div class="small-12 medium-6 large-4 columns">

          <a href="/books/<%= book.id %>/pages/<%= page.id %>"><img class="gallery-page-display pad-bot" src="<%= page.avatar.url %>"/></a>

        </div>

      <% end %>

      </div>

      </div>

      <br/>

    <% end %>

  <% else %>

    <h1 class="googlefont1">Images Coming Soon.</h1>

  <% end %>

</div>
</div>
