<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<div class="text-center" style="height:30em;">
  <h1 class="pad-top googlefont1">Content Coming Soon.</h1>

  <div class="row small-12 small-centered columns">
    <div class="autoplay">
      <% @books.each do |book| %>
      <div><img src="<%= book.avatar.url %>"/></div>
      <% end %>
    </div>
  </div>

</div>
