<li class="padding">
  <div class="page">
    <h3><%= page.name %></h3>
    <img class="admin-page-display" src="<%= page.avatar.url %>"/>
    <%= button_to "Delete Page", book_page_path(@book, page), data: {confirm: "Delete this page?"}, method: :delete %>
  </div>
</li>
