/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self
 */

.footerAdmin {
   font-weight: normal;
   color: #9FA8A3;
   font-size: .7em;
 }

 .footerLinks {
   color: #9FA8A3;
   font-size: .7em;
 }

 .footerLinks:hover {
    color: #000;
    opacity: .6;
  }

.submit-button {
  background-color: #9FA8A3;
  width: 10em;
  height: 2.5em;
  color: #FFF;
  font-weight: bold;
}

.overFlowHide {
  overflow: hidden;
}

.contact-container {
}

.form-inputs {
  width: 20em;
}

.header {
  width: 100%;
  color: #000;
  height: 15em;
  background-color: #FFF;
}

.breaker {
  height: 1em;
}

.navBar {
  width: 100%;
  background-color: #FFF;
  height: 3em;
  border-top: .15em solid #9FA8A3;
  border-bottom: .15em solid #9FA8A3;
}

.footerBar {
  position:absolute;
  width: 100%;
  background-color: #FFF;
  height: 6em;
  overflow: hidden;
  border-top: .1em solid #000;
}

.footerPiece {
  color: #9FA8A3;
  display: inline-block;
  height: 100%;
  font-size: .9em;
}

.navPiece {
  color: #000;
  font-size: 1.25em;
  padding-top: .3em;
  display: inline-block;
  height: 3em;
}

.navPiece:hover {
  color: #9FA8A3;
}

.hidden {
  display: none;
}

.flash {
  padding-top: .5em;
  height: 3em;
  color: #9FA8A3;
}

.padding {
  padding: 1em;
}

.pad-top {
  padding-top: 1.5em;
}

.side-padding {
  padding-left: 3em;
  padding-right: 3em;
}

#frontHeaderLogo {
  width: 10em;
}

#footerLogo {
  width: 3em;
}

.inline {
  display: inline-block;
}

.black {
  color: #000;
}

.book {
 width: 15em;
 height: 7em;
 border-radius: 1em;
 border: 1em solid #FF606E;
}

.googlefont1 {
  font-family: 'Playfair Display SC', serif;
}

@media (max-width: 820px) {
    .footerContact {
        display: none;
    }
}

@media (min-width: 820px) {
    .footerLinks {
        display: none;
    }
}

.footerContact {
  font-family: sans-serif;
  font-size: .65em;
}

.message {
  width: 25em;
}

.admin-page-display {
  width: 5em;
}

.admin-book-display {
  width: 7em;
}
